#container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 400px;
  width: 400px;
  border: 2px solid green;
  background-color: white;
  border-radius: 10px;
}
.box {
  height: 100px;
  width: 100px;
  border-radius: 10%;
  background-color: gray;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: top;
  font-size: 50px;
  font-weight: bold;
}
#navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  width: 900px;
  background-color: pink;
  border: 2px solid green;
}
.option {
  margin-left: 5px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  width: 80px;
  line-height: 50px;
}
