.box {
    width: 300px;
    height: 100px;
    background-color: pink;
    /*animation-name: moveBox, colourChange, width;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-direction: alternate;*/
    animation: moveBox 2s ease-in-out infinite alternate;
}
/*
              colourChange 2s ease-in-out infinite alternate,
               width 2s ease-in-out infinite alternate;
*/
/*
@keyframes moveBox {
    from{
        font-size: 20px;
    }
    to {
        font-size: 40px;
    }
}
@keyframes colourChange {
    from {
        background-color: pink;
    }
    to {
        background-color: lightblue;
    }
}
/*
@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes width{
    from {
        width: 100px;
    }
    to {
        width: 300px;
    }
}
    */
@keyframes moveBox {
    from{
        width: 10px;
        background-color: yellow;
        border-radius: 0px;
    }
    to {
        width: 300px;
        background-color: orange;
        border-radius: 50px;
    }
}