h1{
    border:2px dashed green ;
}
div{
    border:5px solid black ;
    background-color: lightpink;
    width: 500px;
    height: 200px;
    border-radius: 10px;
    padding-top: 10px;
}
button{
    border:2px solid black ;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: yellow;
}