.container {
  display: grid;
  background-color: white;
  grid-gap: 10px;
  padding: 0;
  margin: 0;
  height: 100vh;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(12,1fr)
}
.header {
  grid-column:1/ span 12;
  background-color: lightblue;
}
.navigation {
  grid-column: 4/ span 6;
  background-color: lightgreen;
}
.sidebar {
  grid-column: 1 / span 3;
  grid-row:2/ span 10;
  background-color: orange;
}
.main {
   grid-row: 3/ span 9;
   grid-column:4/ span 6;
   background-color: lightgray;
}
.ads {
  grid-column: 10/ span 3;
    grid-row: 2/ span 10;
  background-color: yellow;
}
.footer {
  grid-column:1/ span 12;
  background-color: brown;
}
@media (max-width: 720px) {
  .container {
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr)
  }
  .header {
    grid-column:1/ span 12;
  }
  .navigation {
    grid-column: 1/ span 12;
    grid-row: 2/ span 1;
  }
  .sidebar {
    grid-column: 1 / span 3;
    grid-row:3/ span 9;
  }
  .main {
     grid-row: 3/ span 9;
     grid-column:4/ span 9;
  }
  .ads {
    grid-column: 1/ span 3;
    grid-row: 12/ span 1;
  }
  .footer {
    grid-column:4/ span 9;
  }
}