*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;  
    color: white;
    overflow: hidden;
    
}
.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
    background-color: black;
    

}

.sidebar{
    background-color:black;
    width: 340px;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;

}

.music-player{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}
a{
    text-decoration: none;
    color: white
    
    
}
.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
    
}
.nav-options{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
    background: none;
    margin-bottom: 0.75rem; 
}
.nav-options:hover{
    opacity: 1;
}
.nav-options i{
    font-size: 1.25rem;
}
.nav-options a{
    font-size: 1rem ;
    margin-left: 1rem;
    
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lib-options img {
    height: 1.25rem;
    width: 1.25rem;
    margin-right: 0.75rem;
}
.icons{
    font-size: 1.25rem;
    display: flex;
}
.icons i{
    opacity: 0.7;
    margin-right: 1rem;
}
.icons i:hover{
    opacity: 1;
}
.box{
    background-color: #232323;
    height: 8rem;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
}
.box1{
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 1rem;
    background: none;
}
.box2{
    font-size: 0.85rem;
    opacity: 0.9;
    padding-bottom: 1.5rem;
    background: none;
}
.badge{
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    color: #121212;
    height: 2rem;
    width: fit-content;
}
.sticky-nav{
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0 0rem 0; 
    z-index: 10; 
}
.sticky-nav-icons{
    margin-left: 0.5rem;
}
.sticky-nav-options{
    display: flex;
    align-items: center;
    justify-content: center;
}
.xyz{
   margin-right: 1rem;
}
.dark-badge{
    background-color: black;
    color:white;
}
@media (max-width:1000px){
    .hide{
        display: none;
    }
    
}
.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}
.cards-container{
    display: flex;
    padding-top: 0.6rem;
    padding-bottom: 0.5rem;
    flex-wrap: wrap;
}
.card-img{
    width: 100%;
    border-radius: 0.5rem;    
}
.card-title{
    font-weight: 600;
    padding: 0.3rem 0.2rem 0.2rem 0.2rem;
}
.card-info{
    padding: 0.3rem 0.2rem 0.2rem 0.2rem;
    font-size: 0.75rem;
    opacity: 0.85;
}
.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width: 90%;
    height: 50%;
    border-top:1px solid white;
    opacity: 0.4;
}
/*
.album{
    display: flex;
    align-items: center;
    width: 25%;
    object-fit: contain;
    background-color: chocolate;
}
.album-img{
    height: 30px;
    width: 40px;
    border-radius: 0.5rem;
    margin-right: 1rem;
    
}
.album-icon{
    height: 35px;
    width: 30px;
    margin-left: 0.5rem;
}
p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    padding-left: 1rem;
}
.player{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 50%;
    background-color: burlywood;
}
.player-icon{
    height: 1rem;
    width: 1rem;
}

.controls{
    display: flex;
    align-items: center;
    flex-direction: flex-end;
    width: 25%;
    background-color: blue;
}
.controls-icon1{
    height: 37px;
    width: 30px;
    margin-right: 1.5rem;
}
.controls-icon2{
    height: 37px;
    width: 30px;
    margin-right: 1.5rem;
}
.controls-icon3{
    height: 22px;
    width: 18px;
    margin-right: 1.5rem;
}
.controls-icon4{
    height: 15px;
    width: 20px;
    margin-right: 1.5rem;
}
.controls-icon5{
    height: 30px;
    width: 18px;
    margin-right: 1.5rem;
}
.volume-slider{
    -webkit-appearance: none;
    width: 85px;
    height: 4px;
    background: #535353;
    border-radius: 2px;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}
.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}
.volume-slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}
    */
.music-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.album{
    width: 25%;
    display: flex;
    align-items: center;
    object-fit: contain;
}
.album-img{
    height: 30px;
    width: 40px;
    border-radius: 0.5rem;
    margin-right: 1rem;
    
}
.album-icon{
    height: 35px;
    width: 30px;
    margin-left: 0.5rem;
}
.album-p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    padding-left: 1rem;
}
.player{
    width: 50%;
}
.player-icon{
    height: 1rem;
    margin-right: 1.5rem;
    opacity: 0.7;
}
.player-icon:hover{
    opacity: 1;
}
.player-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.playback-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.progress-bar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.progress-bar::-webkit-slider-runnable-track {
    height: 0.2rem;
    background: #ddd;
    border-radius: 100px;
}
.progress-bar::-webkit-slider-thumb {
    appearance: none;
    width: 1rem;
    height: 1rem;
    background: #1bd760;
    border-radius: 50%;
    margin-top: -0.4rem;
    cursor: pointer;
}
.controls{
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: flex-end;
    
}
.controls-icon1{
    height: 37px;
    width: 30px;
    margin-right: 1.5rem;
}
.controls-icon2{
    height: 37px;
    width: 30px;
    margin-right: 1.5rem;
}
.controls-icon3{
    height: 22px;
    width: 18px;
    margin-right: 1.5rem;
}
.controls-icon4{
    height: 15px;
    width: 20px;
    margin-right: 1.5rem;
}
.controls-icon5{
    height: 30px;
    width: 18px;
    margin-right: 1.5rem;
}
.volume-slider{
    -webkit-appearance: none;
    width: 85px;
    height: 4px;
    background: #535353;
    border-radius: 2px;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}
.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}
.volume-slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}