div{
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 0 auto;
    margin-top: 10px;
    transition: margin-top 2s ease-in 0.2s;
    background-color :#4dff00ff;
    
}
div:hover{
    margin-top: 400px;
    background-color: pink;
    border-radius: 50%;
}